@import "tailwindcss";

@theme {
  --color-primary: #F2CC0D;

}



@layer base {
  :root {
    --font-poppins: var(--font-poppins);
    --font-bebas-neue: var(--font-bebas-neue);
  }

  [data-theme="dark"] {
    --bg-primary: #1c1c1c;
    --bg-secondary: #000000;
    --text-primary: #ffffff;
    --text-secondary: #ffffff;
    --border-color: rgba(255, 255, 255, 1);
  }

  [data-theme="light"] {
    --bg-primary: #FAFAFA;
    --bg-secondary: #ffffff;
    --text-primary: #000000;
    --text-secondary: #000000;
    --border-color: rgba(0, 0, 0, 0.1);
  }
}

   
@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }
  
  .font-bebas-neue {
    font-family: var(--font-bebas-neue), sans-serif;
  }
}


@keyframes skew-right {
  0% {
    transform: translateX(0%) translateY(0%) skewY(0deg);
   z-index: 1;
  }
  50% {
    transform: translateX(20%) translateY(-120%) skewY(20deg);
z-index: 1;
  }
  100% {
    transform: translateX(0%) translateY(0%) skewY(0deg);
  z-index: 100;
  }
}
@keyframes skew-left {
  0% {
    transform: translateX(0%) translateY(0%) skewY(0deg);
    z-index: 1;
  }
  50% {
    transform: translateX(-20%) translateY(-120%) skewY(-20deg);
    z-index: 1;
  }
  
  100% {
    transform: translateX(0%) translateY(0%) skewY(0deg);
    z-index: 100;
  }
}


.skew-animation-left {
  animation: skew-left 1s ease-in-out;
}

.skew-animation-right {
  animation: skew-right 1s ease-in-out;
}
