name: Build & Push Frontend (Next.js) to GHCR

on:
  push:
    branches: [main]
    paths:
      - "./**"
      - ".github/workflows/frontend-ghcr.yml"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-frontend
  NEXT_PUBLIC_SHOP_ID: 92e1ff9e-ed61-4033-9501-542084c9d468
  NEXT_PUBLIC_API_URL: https://api.trackynn.com

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./Dockerfile
          push: true
          build-args: |
            NEXT_PUBLIC_API_URL=${{ env.NEXT_PUBLIC_API_URL }} |
            NEXT_PUBLIC_SHOP_ID=${{ env.NEXT_PUBLIC_SHOP_ID }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}